<div id="pageWrapper">

    <header id="header">
        <div id="banner">
            <f:format.raw> {logo_picture} </f:format.raw>
            <div id="logo-text">
                <span id="main-header-text">
                    <f:format.raw> {main_header_text} </f:format.raw>
                </span>
                <span id="secondary-header-text">
                    <f:format.raw> {secondary_header_text} </f:format.raw>
                </span>
            </div>
        </div>
        <nav id="nav-wrapper">
            <div id="main-nav">
                <div id="main-nav-trigger">
                    <span id="nav-trigger-text"><f:format.raw> {pagetitle} </f:format.raw></span>
                    <div id="nav-collapse-icon"></div>
                </div>
                <f:format.raw> {nav} </f:format.raw>
            </div>
            <div id="sub-nav">
                <f:format.raw> {subnav} </f:format.raw>
            </div>
        </nav>
        <!-- wie machen wir das mit dem sub-nav -->
        <!-- TODO: Breadcrumnavigation ja oder nein? -->
    </header>
    <main id="main-content">
        <f:format.raw> {main_content} </f:format.raw>
    </main>
    <aside id="aside-1">
    </aside>
    <aside id="aside-2">
    </aside>
    <footer id="footer">
        <f:format.raw> {footer_content} </f:format.raw>
    </footer>
</div>