<div id="pageWrapper">

    <header id="header">
        <div id="banner">
            <f:format.raw> {logo_picture} </f:format.raw>
            <div id="logo-text">
                <f:format.raw> {logo_text} </f:format.raw>
            </div>
        </div>
        <nav id="main-nav">
            <f:format.raw> {nav} </f:format.raw>
        </nav>
        <!-- wie machen wir das mit dem sub-nav -->
        <!-- TODO: Breadcrumnavigation ja oder nein? -->
    </header>
    <main id="main-content">
        <f:format.raw> {main_content} </f:format.raw>
    </main>
    <aside id="aside-1">
    </aside>
    <aside id="aside-2">
    </aside>
    <footer id="footer">
        <f:format.raw> {footer_content} </f:format.raw>
    </footer>
</div>